/* CSS file */

body {
    background-color: rgb(239, 240, 242);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 100px;
    font-size: 14px;
    padding-left: 50px;
    word-wrap: break-word; /* Add this line */
    width: 50%;
}

header {
    background-color: rgb(239, 240, 242);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    color: #000000; /* White text color */
    padding-top: 100px;
    padding-left: 100px;
    font-size:24px;
    font-weight: bold;
    word-wrap: break-word; /* Add this line */
}

