/* CSS file */

body {
    background-color: rgb(240, 242, 246);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 1000px;
    padding-left: 0px;
    margin: 0px;
    word-wrap: break-word; /* Add this line */
    width: 100%;
}

.main_page {
    background-color: rgb(240, 242, 246);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 1000px;
    padding-left: 50px;
    word-wrap: break-word; /* Add this line */
    width: 50%;
}

.header-container {
    display: flex;
    align-items: center;
}  

header {
    background-color: rgb(240, 242, 246);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    color: #000000; /* White text color */
    padding-top: 30px;
    padding-bottom: 50px;
    font-size:30px;
    font-weight: bold;
    word-wrap: break-word; /* Add this line */
    margin-right: 20px;
}

.h1 {
    background-color: rgb(240, 242, 246);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    color: #000000; /* White text color */
    padding-top: 10px;
    padding-bottom: 0px;
    font-size:24px;
    font-weight: bold;
    word-wrap: break-word; /* Add this line */
}

.h2 {
    background-color: rgb(240, 242, 246);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    color: #000000; /* White text color */
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 0px;
    font-size:24px;
    font-weight: bold;
    word-wrap: break-word; /* Add this line */
}

.page {
    background-color: rgb(240, 242, 246);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 20px;
    font-size: 16px;
    font-weight: 500px;
    padding-left: 50px;
    word-wrap: break-word; /* Add this line */
    width: 70%;
}

p {
    background-color: rgb(240, 242, 246);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 0px;
    font-size: 16px;
    font-weight: 300px;
    padding-left: 50px;
    word-wrap: break-word; /* Add this line */
    width: 70%;
    align-items: center;
}

.top-right {
    position: absolute;
    top: 0;
    right: 0;
}

.indented-list {
    padding-left: 90px;
    word-wrap: break-word; /* Add this line */
    width: 70%;
}
