/* CSS file */

body {
    background-color: rgb(239, 242, 248);
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    line-height: 1.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 100px;
    font-size: 24px;
    padding-left: 50px;
    word-wrap: break-word; /* Add this line */
}

header {
    background-color: rgb(239, 242, 248);
    font-family: 'Courier New', Courier, monospace; /* use a monospace font */
    color: #000000; /* White text color */
    padding: 50px; /* Add some padding */
    font-size: 14px;
}

header h1 {
    margin: 0; /* Remove default margin */
}